.space {
    margin-bottom: 1%;
}

.New input{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    border: 0;
    height: 50px;
    width: 255px;
    border-radius: 0;
    border-bottom:1px solid #D3E4CD;
    margin-bottom:1px;
    background-color: #FEF5ED;
    padding-left:1%;
}
  
.New input:focus{
    font-family: 'Nanum Myeongjo', serif;
    border-bottom: 1px solid #ADC2A9;
    box-shadow: none;
    outline: 0;
    background-color: #F0EBE3;
}

.Back {
    position:relative;
    border: none;
    display: inline-block;
    padding: 5px 15px;
    padding-left:1%;
    text-decoration: none;
    font-weight: 300;
    transition: 0.25s;
    background-color: #FEF5ED;
    color: #ADC2A9; 
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin-right:1%;
    margin-top:1%;
}
  
.Back:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    cursor: pointer;
}

.Add {
    position:relative;
    border: none;
    display: inline-block;
    padding: 5px 15px;
    padding-left:1%;
    text-decoration: none;
    font-weight: 300;
    transition: 0.25s;
    background-color: #FEF5ED;
    color: #ADC2A9; 
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin-right:1%;
    margin-top:1%;
}
  
.Add:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    cursor: pointer;
}