.space {
    margin-bottom: 1%;
}

.New{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    border: 0;
    height: 50px;
    width: 255px;
    border-radius: 0;
    border-bottom:1px solid #D3E4CD;
    margin-bottom:2px;
    background-color: rgba(254,245,237,0.1);
    padding-left:1%;
}
  
.New:focus{
    font-family: 'Nanum Myeongjo', serif;
    border-bottom: 1px solid #ADC2A9;
    box-shadow: none;
    outline: 0;
    background-color: rgba(254,245,237,0.5);
}

.content {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    border: 0;
    height: 200px;
    width: 255px;
    border-radius: 0;
    border-bottom:1px solid #D3E4CD;
    margin-bottom:1px;
    background-color: rgba(254,245,237,0.1);
    padding-left:1%;
    resize: none;
    margin-top: 1%;
}

.content:focus{
    font-family: 'Nanum Myeongjo', serif;
    border-bottom: 1px solid #ADC2A9;
    box-shadow: none;
    outline: 0;
    background-color: rgba(254,245,237,0.5);
}


.btn {
    position:relative;
    border: none;
    display: inline-block;
    padding: 5px 15px;
    padding-left:1%;
    text-decoration: none;
    font-weight: 300;
    transition: 0.25s;
    background-color: rgba(254,245,237,0.1);
    color: #ADC2A9; 
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin-left:1%;
    margin-top:1%;
}
  
.btn:hover {
    letter-spacing: 2px;
    transform: scale(1.05);
    cursor: pointer;
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBody {
    position: absolute;
    width: 300px;
    height: 500px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}